#content div.me{
    display: flex;
    flex-direction: row;
    /* gap: 25px; */
    border: 1px solid black;
    text-align: left;
    max-width: 1024px;
    margin: 25px auto;
    border-radius: 25px;
    background-color: rgb(0, 0, 0, 0.2);
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
}

.ik{
    /* max-width: 200px; */
    border-radius: 25px;
    padding: 10px;
    margin: 0 auto;
    justify-items: center;
    justify-content: center;
}