#content div.me{
    display: flex;
    flex-direction: row;
    /* gap: 25px; */
    border: 1px solid black;
    text-align: left;
    max-width: 1024px;
    margin: 25px auto;
    border-radius: 25px;
    background-color: rgb(0, 0, 0, 0.2);
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
}

.ik{
    border-radius: 50%;
    padding: 10px;
    margin: 0 auto;
}
@media screen and (min-width:401px) {
    #content{
        display:flex;
        flex-direction: column;
        margin: 0 auto;

    }
    .ik{
        margin: auto 0;
        word-wrap: normal;
        flex-wrap: wrap;
    }
    .me h3{
        text-align: center;
        padding-bottom: 10px;
    }
    .about-me-title{
        width: 100%;
        justify-items: stretch;

    }
    .inner-me{
        width: 100%;
        padding: 25px;
    }
}