#content div.me, .me-top{
    display: flex;
    flex-direction: row;
    /* gap: 25px; */
    border: 1px solid black;
    text-align: left;
    max-width: 1024px;
    margin: 25px auto;
    border-radius: 25px;
    background-color: rgb(0, 0, 0, 0.2);
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
}
.inner-titel-h3-top{
    text-align: center;
}
.ik{
    border-radius: 50%;
    padding: 10px;
    margin: 0 auto;
}
.paintball-film{
    margin: 10px auto;
    max-width: 560px;
    max-height: 315px;
}
@media screen and (min-width:620px) {
    #content{
        display:flex;
        flex-direction: column;
        margin: 0 auto;

    }
    #content div.me, .me-top{
        border: 1px solid black;
        text-align: left;
        max-width: 1024px;
        margin: 25px auto;
        border-radius: 25px;
        background-color: rgb(0, 0, 0, 0.2);
        padding: 10px;
        margin: 10px;
        display: flex;
        flex-direction: row;
    }
    .me-top{
        height: 400px;
    }
    .inner-div-top{
        width: 72%;
    }
    .ik{
        margin: auto 0;
        width: 25%;
        border: 3px solid black;
    }
    .inner-titel-h3-top{
        width: 100%;
        padding-left: 15px;
        text-align: left;
    }
    .div-content-top{
        padding-left: 15px;
    }
    .inner-titel-h3{
        width: 100%;
    }
    .div-content{
        width: 100%;
    }
    .about-me-title{
        width: 100%;
        justify-items: stretch;
    }
    .paintball-film{
        width: 1024px;
        height: 500px;
    }
}