.menu{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 15px;
    justify-content: center;
}
.menu-item{
    background-color: wheat;
    border: 1px solid black;
    border-radius: 15px;
    min-width: 200px;
    font-size: 1.1em;
    padding: 5px;
    box-shadow: 2px 2px black;
}
.menu-item:hover{
    background-color: lightblue;
    box-shadow: -2px -2px black;
}
.menu-link{
    text-decoration: none;
    color: red;
}