#footer{
    border-top: 1px solid black;
}
.main-resource{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    font-size: 1.2em;
    padding: 15px;
    justify-content:space-between;
}
.resource > ul{
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 5px;
}
.footer-navi-item{
    display: block;
    list-style-type: none;
    padding: 0 15px;
    border-bottom: 3px solid red;
    line-height: 2em;
}
.footer-navi-item:hover{
    background-color: black;
    border-top: 6px solid yellow;
    border-bottom: 6px solid yellow;
    color: yellow;
    transition:ease-in-out 0.5s;
    border-radius: 15px;
}