a:visited{
    color: red;
}
.navi-lijst{
        list-style-type: none;
        display: inline-block;
        font-size: 1em;
    }
    .navi-item{
        list-style-type: none;
        display: inline;
        padding: 0 10px;
        border-bottom: 3px solid red;
    }
    .navi-link{
        color: red;
        text-decoration: none;
        text-shadow: 1px 1px black;
    }
    .navi-link:visited{
        color: red;
    }
    .navi-item:hover{
        background-color: black;
        border-bottom: 6px solid yellow;
        color: yellow;
        transition:ease-in-out 0.5s;
        border-radius: 15px;
    }

@media screen and (min-width:701px) {
.desktop-view{
    padding: 0;
    margin: 0;
}
.mobile-view{
    display: none;
}    
.navi-lijst{
    list-style-type: none;
    display: inline-block;
    font-size: 1.1em;
    margin: 0;
    padding: 10px;
}
.navi-item{
    list-style-type: none;
    display: inline;
    padding: 0 15px;
    border-bottom: 3px solid red;
}
.navi-link{
    color: red;
    text-decoration: none;
    text-shadow: 1px 1px black;
}
.navi-link:visited{
    color: red;
}
.navi-item:hover{
    background-color: black;
    border-top: 6px solid yellow;
    border-bottom: 6px solid yellow;
    color: yellow;
    transition:ease-in-out 0.5s;
    border-radius: 15px;
}
}