div#content{
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
    padding: 25px;
    margin: auto;
}
#content div{
    margin: auto;
}

.button{
    margin: auto;
    width: 100%;
}
.accept{
    background-color: transparent;
    border:3px 0.5px solid green;
    color: green;
    height: 30px;
    width: 100px;
    padding: 5px;
    margin: 15px;
}
.decline{
    background-color: transparent;
    border:3px 0.5px solid red;
    color: red;
    height: 30px;
    width: 100px;
    padding: 5px;
    margin: 15px;
    justify-content: flex-end;
    justify-items:flex-end;
}
.person{
    width: 25%;
    text-align: left;
    padding: 5px 15px 5px 5px;
}
.card-holder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 300px;
    height: 250px;
}
.card{
    word-wrap: normal;
    flex-wrap: wrap;
}
.naam{
    font-size: 1.5em;
    color: black;
    font-weight: bold;
}
.bold{
    font-weight: bold;
}
.friends{
    color: rgba(15, 15, 15, 0.712);
    font-size: 0.7em;
}
.messages{
    padding: 5px;
}
.answer-img{
    width: 90%;
}
.icon-larger{
    font-size: 1.5em;
}