div#content{
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
    padding: 25px;
}
#content div > p{
    text-align: left;
}
div#man{
    border: 1px solid black;
    width: 300px;
    height: 250px;
}
div#woman{
    border: 1px solid black;
    width: 300px;
    height: 250px;
}
.accept{
    background-color: transparent;
    border:3px 0.5px solid green;
    color: green;
    height: 30px;
    width: 100px;
    padding: 5px;
    margin: 15px;
    justify-content: flex-end;
    justify-items:flex-end;
    /* box-shadow: 2px 2px 0.5 green; */
    /* bottom: auto; */
}
.decline{
    background-color: transparent;
    border:3px 0.5px solid red;
    color: red;
    height: 30px;
    width: 100px;
    padding: 5px;
    margin: 15px;
    justify-content: flex-end;
    justify-items:flex-end;
    /* box-shadow: 2px 2px 0.5 green; */
    /* bottom: auto; */
}
.person{
    width: 25%;
    /* text-align: right; */
    position: relative;
    /* float: top right; */
}
.card-holder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.naam{
    font-size: 1.5em;
    color: black;
    font-weight: bold;
}
.bold{
    font-weight: bold;
}